:root {
	--text: #806b95;
	--background: #807986;
	--primary: #8041be;
	--secondary: #807c84;
	--accent: #e3e31c;

	--accent-transparent: #807c8480;

	--code-bg: #202050;
	--code-color: #e8d3fd;
}

:root[data-theme="light"] {
	--text: #17022c;
	--background: #f8f1fe;
	--primary: #b879f6;
	--secondary: #e3dfe7;
	--accent: #d1d10a;

	--accent-transparent: #d1d10a20;
}
:root[data-theme="dark"] {
	--text: #e8d3fd;
	--background: #08010e;
	--primary: #470986;
	--secondary: #1c1820;
	--accent: #f5f52e;

	--accent-transparent: #f5f52e10;
}

* {
	transition-duration: 150ms;
	transition-property: background-color, color;
	transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

html {
	height: 100vh;
	width: 100vw;
	padding: 0px;
	margin: 0px;
}

body {
	min-height: 100%;
	width: 100%;

	overflow-x: hidden;

	padding: 0px;
	margin: 0px;

	font-family: sans-serif;

	background-color: var(--background);
	color: var(--text);
}

p,
body {
	font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
	font-weight: normal;
	padding: 0px;
	margin: 0px;
}

h1 {
	font-size: 5rem;
	text-align: center;
	margin: 1rem;
}

h2 {
	font-size: 4.5rem;
}

h3 {
	font-size: 4rem;
}

h4 {
	font-size: 3.5rem;
}

h5 {
	font-size: 3rem;
}

h6 {
	font-size: 2.5rem;
}

@media screen and (max-width: 500px) {
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 2.5rem;
	}
	h3 {
		font-size: 2rem;
	}
	h4 {
		font-size: 1.5rem;
	}
	h5,
	h6,
	p,
	body {
		font-size: 1rem;
	}
}

a,
button {
	cursor: pointer;
}
