---
import ThemePicker from "./ThemePicker.svelte";

const { locale } = Astro.params;
---

<nav transition:persist>
	<div class="links">
		<a href="http://daniel-armenta.com">Home</a>
		<a href={`/${locale}`}>Blog</a>
	</div>
	<ThemePicker client:visible />
</nav>

<style lang="scss">
	nav {
		display: flex;
		justify-content: space-between;

		padding: 1.5rem;

		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

		position: sticky;
		top: 0px;
		left: 0px;

		background-color: var(--secondary);

		z-index: 100;

		.links {
			display: flex;
		}

		.links > a {
			margin-top: auto;
			margin-bottom: auto;
			margin-right: 2rem;

			color: var(--text);
			text-decoration: none;

			text-align: center;
			height: min-content;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	@media screen and (max-width: 500px) {
		nav {
			padding: 1rem;
		}
	}
</style>
