---
import ThemePicker from "./ThemePicker.svelte";
---

<nav transition:persist>
	<div class="links">
		<a href="http://daniel-armenta.com">Home</a>
		<a href="/">Blog</a>
	</div>
	<ThemePicker client:visible/>
</nav>

<style lang="scss">
	nav {
		display: flex;
		justify-content: space-between;

		padding: 1.5rem;

		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

		position: sticky;
		top: 0px;
		left: 0px;

		background-color: var(--primary);

		z-index: 100;

		.links > a {
			margin-right: 2rem;
			color: var(--highlight);
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
</style>
