---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
	padding?: number;
}

const { title, padding = 2 } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{title}</title>
		<slot name="head" />

		<!--Adding google material icons -->
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
		/>

		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<ViewTransitions />
	</head>
	<body>
		<Navbar />

		<slot name="before-content" />
		<div class="content" style={"--padding:" + padding + "rem"} }>
			<slot />
		</div>
		<style>
			.content {
				flex: 1;
				padding: var(--padding);

				overflow-x: hidden;
			}
		</style>

		<script>
			const getTheme = () => {
				let theme = localStorage?.getItem("theme") || "light";
				document.documentElement.setAttribute("data-theme", theme);
			};
			getTheme();
			document.addEventListener("astro:after-swap", getTheme);
		</script>
	</body>
</html>
