---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import FloatingBlob from '../components/FloatingBlob.astro';
import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
	padding?: number;
}

const { title, padding = 2 } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{title}</title>
		<slot name="head" />
		<ViewTransitions />
	</head>
	<body>
		<Navbar />

  <FloatingBlob />
		<div class="content" style={"--padding:" + padding + "rem"} }>
			<slot />
		</div>
	</body>

	<style>
		.content {
			flex: 1;
			padding: var(--padding);

			overflow-x: hidden;
		}
	</style>

	<script>
		const getTheme = () => {
			let theme = localStorage?.getItem('theme') || 'light';
			document.documentElement.setAttribute('data-theme', theme)
		};
		getTheme();
		document.addEventListener('astro:after-swap', getTheme);
	</script>

</html>
 