---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";

interface Props {
	title: string;
	padding: number;
}

const { title, padding = 2 } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{title}</title>
		<slot name="head" />
	</head>
	<body>
		<Navbar />
		<div class="content" style={"--padding:" + padding + "rem"} }>
			<slot />
		</div>
	</body>

	<style>
		.content {
			flex: 1;
			padding: var(--padding);

			overflow-x: hidden;
		}
	</style>
</html>
